<form class="item__form" action="index.html" method="post">
  <label>Title:
    <input type="text" name="item[title]" value="{{title}}">
  </label>
  <br>
  <label>Content:
    <input type="text" name="item[content]" value="{{content}}">
  </label>
  <br>
  <input type="submit" value="Save">
</form>
  
