<li class="item">
  <div class="item__attributes">
    <h2 class="item__title">
      {{title}}
    </h2>

    <p>
      {{content}}
    </p>
  </div>

  <button class="item__edit">Edit</button>

  <ul class="item__children">

  </ul>
</li>
